.packet-items {float:left; white-space:nowrap; width:690px; height:32px; overflow:hidden; margin:0}
.linkButton {float:left; line-height:25px; border:1px solid #000; border-radius:5px}
li[class='last']:hover {background:-webkit-gradient(linear, 0 0,0 100%, from(#0a5199), to(#3e91e5))}
li[class='last']>a:hover {color:#FFFFFF !important}
