<script src="{$publicUrl}/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="{$publicUrl}/js/validator.js" type="text/javascript"></script>
<script src="{$publicUrl}/js/salary.js" type="text/javascript"></script>
<script src="{$publicUrl}/js/checkingin.js" type="text/javascript"></script>
<script src="{$publicUrl}/js/tp-hrm.js" type="text/javascript"></script>
<script src="{$publicUrl}/jqueryUI/chosen.jquery.js" type="text/javascript"></script>
<script src="{$publicUrl}/js/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
<script src="{$publicUrl}/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{$publicUrl}/bootstrap/js/bootstrap-table.js" type="text/javascript"></script>
</body>
<html>
