<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>{$title}</title>
  <link rel="stylesheet" href="{$publicUrl}/bootstrap/css/bootstrap.min.css" type="text/css" charset="utf8"/>
  <link rel="stylesheet" href="{$publicUrl}/bootstrap/css/bootstrap-table.css" type="text/css" charset="utf8"/>
  <link rel="stylesheet" href="{$publicUrl}/styles/erp.css" type="text/css" charset="utf8"/>
  <link href="{$publicUrl}/js/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{$publicUrl}/jqueryUI/chosen.css" type="text/css" charset="utf8"/>
</head>
<body style="overflow:auto">
  <div class="alert alert-warning" id="alert_warning">
    <a href="#" class="close" > &times; </a>
    <strong>警告！</strong><span>问题提示。</span>
  </div>
  <div class="alert alert-success" id="alert_success">
    <a href="#" class="close" >&times;</a>
    <strong>成功！</strong><span>结果是成功的。</span>
  </div>

