<!DOCTYPE html>
<html>
  <head>
    <title>康健人生员工入职登记</title>
    <meta charset="utf-8" />
    <link type="text/css" href="{$publicUrl}/styles/general.css" rel="stylesheet" />
    <link type="text/css" href="{$publicUrl}/styles/new.css" rel="stylesheet" />
    <link type="text/css" href="{$publicUrl}/styles/index.css" rel="stylesheet" />
    <link type="text/css" href="{$publicUrl}/styles/staff.css" rel="stylesheet" />
    <link type="text/css" href="{$publicUrl}/styles/user.css" rel="stylesheet" />
    <link type="text/css" href="{$publicUrl}/styles/service.css" rel="stylesheet" />
    <script src="{$publicUrl}/js/tp-register.js" type="text/javascript"></script>
    <script src="{$publicUrl}/js/tp-region.js" type="text/javascript"></script>
    <script src="{$publicUrl}/js/tp-transport.js" type="text/javascript"></script>
    <script src="{$publicUrl}/js/tp-hrm.js" type="text/javascript"></script>
    <script src="{$publicUrl}/js/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
  </head>
  <body style="overflow:auto">
