<div>
  <div class="finder-title">服务记录</div>
  <div id="search_div" class="sch_div">
    <form name="schServiceForm" action="javascript:void(0)" onsubmit="fullSearch(this)" >
      <span> 顾客 
        <input type="text" name="user_name" maxlength="6"/>
      </span>
      <span><input name="start" type="date" plactholer="开始时间"/></span>
      <span><input name="end" type="date" placeholder="结束时间"/></span>
      <span>
        <select name="role">
          <option value="0">部门</option>
          {if $role_list}
          {foreach from=$role_list item=val}
          <option value="{$val.role_id}">{$val.role_name}</option>
          {/foreach}
          {/if}
        </select>
      </span>
      <span>
        <select name="group">
          <option value="0">小组</option>
          {if $group_list}
          {foreach from=$group_list item=val}
          <option value="{$val.group_id}">{$val.group_name}</option>
          {/foreach}
          {/if}
        </select>
      </span>
      <span>
        <input type="text" name="keyword" value="" placeholder="客服姓名"/>
      </span>
      <span id="admin"> 客服
        <select name="admin_id">
          <option value=0>不限</option>
          {if $admin_list}
          {foreach from=$admin_list item=val}
          <option value="{$val.user_id}">{$val.user_name}</option>
          {/foreach}
          {/if}
        </select>
      </span>
      <input type="submit" class="input_submits" value="搜索" />
    </form>
  </div>
  <div id="resource">{$serviceDiv} </div>
</div>
