<div class="wd750">
  <br />
  <h3>提成系数设置</h3>
  <div>
    <span>第一步</span><b>------&gt;</b><span>第二步</span><b>------&gt;</b><span>完成</span>
  </div>
  <div id="commission_site">
    <div id="step1">
      <form name="commissionSiteForm1" action="javascript:void(0)" method="POST">
        <table cellpadding="0" cellspacing="6px" border="0" width="100%">
          <tr>
            <th>部门</th>
            <td>
              <select name="role_id" >
                <option value="0">请选择部门</option>
                {foreach from=$role_list item=val}
                <option value="{$val.role_id}">{$val.role_name}</option>
                {/foreach}
              </select> 
            </td>
          </tr>
          <tr>
            <th>小组</th>
            <td>
              <select name="role_id" onchange="department(this.value,1,'group_id')" >
                <option value="0">请选择部门</option>
                {foreach from=$role_list item=val}
                <option value="{$val.role_id}">{$val.role_name}</option>
                {/foreach}
              </select> 
            </td>
            <td>
              <select name="group_id" id="group_id">
                <option value="0">请选择小组</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>员工</th>
            <td><input type="text" name="sch_admin" value="搜索员工" onblur="getStaffListForSel(this.value)"/></td>
            <td>
              <select name="staff_id">
                <option value="0">请选择员工</option>
                {foreach from=$staff_list item=$val}
                <option value="{$val.staff_id}">{$val.staff_name}</option>
                {/foreach}
              </select>
            </td>
          </tr>  
          <tr>
            <th>购买平台</th>
            <td>
              <select name="platform_id">
                <option value="0">不限</option> 
                {foreach from=$platform_list item=val}
                <option value="{$val.role_id}">{$val.role_name}</option>
                {/foreach}
              </select>
            </td>
            <th>支付方式</th>
            <td>
              <select name="pay_id" onchange="getShipping(this)" href="/thinkphp/index.php/usersmanage/shippinglist">
                <option value="0">不限</option>
                {foreach from=$payment key=key item=val}
                <option value="{$key}">{$val}</option>
                {/foreach}
              </select>
            </td>
            <th>快递方式</th>
            <td>
              <select name="shipping_id" id="shipping_id">
                <option value="0">不限</option>
                {foreach from=$shipping key=key item=val}
                <option value="{$key}">{$val}</option>
                {/foreach}
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <input type="submit" class="b_submit" value="保存并下一步" style="padding:3px;"/>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div id="step2">
      <form name="commissionSiteForm2" action="javascript:void(0)" method="POST">
        <table cellpadding="0" cellspacing="0" border="1px" width="100%">
          <tr>
            <th>职位级别</th>
            <th>保底销量</th>
            <th>最大销量</th>
            <th>提成系数</th>
          </tr>
          <tr>
            <td>
              <select name="position_level">
                <option value="0">职位级别</option> 
                {foreach from=$position_level_list item=val}
                <option value="{$val.level_id}">{$val.level_name}</option>
                {/foreach}
              </select>
            </td>
            <td><input type="number" min="1000" name="min_sales" value=""/></td>
            <td><input type="number" min="1000" name="max_sales" value=""/></td>
            <td><input type="number" max="10" name="commission" value=""/></td>
          </tr>
          <tr>
            <td colspan="4"><input type="submit" value="保存"/></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <div id="resource"></div>
</div>
