{$header}
{$nav}
<div class="wd750 pd12px">
  <input type="hidden" id="url" value="{$url}"/>
  <form action="{$url}/addApproval" method="POST">
    <table class="form single">
      <caption>{$title}</caption>
      <tr>
        <th>部门</th>
        <td>
          <select name="role_id">
            <option value="0">请选择部门</option>
            {foreach from=$role_list item=v}
            <option value="{$v.role_id}">{$v.role_name}</option>
            {/foreach}
          </select>
        </td>
      </tr>
      <tr>
        <th>类型</th>
        <td>
          <select name="type_id" required title="类型">
            <option value="0">所有</option>
            {foreach from=$typeList item=val}
            <option value="{$val.type_id}">{$val.type_name}</option>
            {/foreach}
          </select>
          <font class="red">*</font>
        </td>
      </tr>
      <tr>
        <th>审批人</th>
        <td>
          <select name="staff_id" required>
           <option value="0">请选择员工</option> 
           {foreach from=$staff_list key=k item=v}
           <option value="{$k}">{$v}</option>
           {/foreach}
          </select>
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <!--<input type="submit" name="submit" value="保存"/>-->
          <button type="submit" class="btn btn-primary popover-show" 
            data-toggle="popover" 
            data-content="">
            保存
          </button>
        </td>
      </tr>
    </table>
  </form>
  <table class="gridtable">
    <caption class='title'>请假审批人列表</caption> 
    <tr>
      <th width="2%">序号</th>
      <th width="10%">分类</th>
      <th width="10%">审批人</th>
      <th width="10%">添加时间</th>
      <th width="15%">操作</th>
    </tr>
    {if $approval_list}
    {foreach from=$approval_list item=val name=i}
    <tr>
      <td>{$smarty.foreach.i.iteration}</td>
      <td>{$val.type_name}</td>
      <td>{$val.staff_name}</td>
      <td>{$val.add_time}</td>
      <td>
        <input type="button" value="修改" class="btn-link" data-toggle="modal"
        onclick="editCheckinginApproal({$val.approval_id})" data-target="#myModal" />
        <input type="button" value="删除" class="btn-link" />
      </td>
    </tr>
    {/foreach}
    {else}
    <tr>
      <td colspan="4">人事部忙碌中，暂时忘了添加记录</td>
    </tr>
    {/if}
  </table>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
          data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel"> 考勤审批修改</h4>
      </div>
      <div class="modal-body">
        <form action="{$url}/editApproval/behave/save" method="POST" id="editForm">
          <table class="form single" style="width:100%;margin-top:0px;">
            <tr>
              <th>部门</th>
              <td>
                <select name="role_id">
                  <option value="0">请选择部门</option>
                  {foreach from=$role_list item=v}
                  <option value="{$v.role_id}">{$v.role_name}</option>
                  {/foreach}
                </select>
              </td>
            </tr>
            <tr>
              <th>类型</th>
              <td>
                <select name="type_id" required title="类型">
                  <option value="0">所有</option>
                  {foreach from=$typeList item=val}
                  <option value="{$val.type_id}">{$val.type_name}</option>
                  {/foreach}
                </select>
                <font class="red">*</font>
              </td>
            </tr>
            <tr>
              <th>审批人</th>
              <td>
                <select name="staff_id" required>
                  <option value="0">请选择员工</option> 
                  {foreach from=$staff_list key=k item=v}
                  <option value="{$k}">{$v}</option>
                  {/foreach}
                </select>
              </td>
            </tr>
            <input type="hidden" name="approval_id" value="0"/>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" 
          data-dismiss="modal">关闭
        </button>
        <input type="submit" class="btn btn-primary" form="editForm"  value="提交更改">
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal -->
{$footer}
