{$header}
{$nav}
<div class="wd750 pd12px">
  <input type="hidden" id="url" value="{$url}"/>
  <form action="{$url}/addCheckinginType" method="POST">
    <table class="form single">
      <caption>添加考勤类型</caption>
      <tr>
        <th>所属分类</th>
        <td>
          <select name="type" required title="所属分类">
            {foreach from=$type item=val}
            <option value="{$val.type_id}">{$val.type_name}</option>
            {/foreach}
          </select>
          <font class="red">*</font>
        </td>
      </tr>
      <tr>
        <th>名称</th>
        <td>
          <input name="name" value="" onkeyup="checkZhValue(this)" datatype="Limit" min="1" max="50" msg="1~50字符" type="text" id="title" required>
        </td>
      </tr>
      <tr>
        <th>计薪规则</th>
        <td>
         大于或等于<input type="number" name="times" value="1" class="number" min="1"> 次
          <select name="operation">
            {foreach from=$operation key=k item=v}
            <option value="{$k}">{$v}</option>
            {/foreach}
          </select> | 
          <select name="rule_item">
            <option value="0">固定值</option>
            <option value="1">每日工资的百分之</option>
            <option value="2">天数 * 每日工资的百分之</option>
          </select>
          <input type="number" name="salary_rule" value="0" class="number" min="0"/>
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <button type="submit" class="btn btn-small btn-primary" data-toggle="popover" 
            data-content=""> 保存 </button>
        </td>
      </tr>
    </table>
  </form>
  <table class="gridtable">
    <caption class='title'>考勤类型列表</caption> 
    <tr>
      <th width="2%">序号</th>
      <th width="10%">分类</th>
      <th width="10%">名称</th>
      <th width="20">计薪规则</th>
      <th width="15%">操作</th>
    </tr>
    {if $typeList}
    {foreach from=$typeList item=val name=i}
    <tr>
      <td>{$smarty.foreach.i.iteration}</td>
      <td>{$val.parent_id}</td>
      <td>{$val.type_name}</td>
      <td>{$val.salary_rule}</td>
      <td>
        <button class="btn-link" data-toggle="modal" data-target="#myModal"
          onclick="controlVacate({$val.type_id},'edit')">修改</button>
        <button class="btn-link" >不启用</button>
      </td>
    </tr>
    {/foreach}
    {else}
    <tr>
      <td colspan="4">人事部忙碌中，暂时忘了添加记录</td>
    </tr>
    {/if}
  </table>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
          data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel"> 修改考勤类型</h4>
      </div>
      <div class="modal-body">
        <form action="{$url}/controlCheckinginType" method="POST" 
          onsubmit="return validatValue(this)" id="editForm">
          <table class="form single" style="width:100%;margin-top:0px;">
            <tr style="border-top:1px solid #ccc;">
              <th>所属分类</th>
              <td>
                <select name="type" required title="所属分类">
                  {foreach from=$type item=val}
                  <option value="{$val.type_id}">{$val.type_name}</option>
                  {/foreach}
                </select>
                <font class="red">*</font>
              </td>
            </tr>
            <tr>
              <th>名称</th>
              <td>
                <input name="name" value="" onkeyup="checkZhValue(this)" datatype="Limit" min="1" max="50" msg="1~50字符" type="text" id="title" required>
              </td>
            </tr>
            <tr>
              <th>计薪规则</th>
              <td>
                大于或等于<input type="number" name="times" value="1" class="number" min="1"> 次
                <select name="operation">
                  {foreach from=$operation key=k item=v}
                  <option value="{$k}">{$v}</option>
                  {/foreach}
                </select> | 
                <select name="rule_item">
                  <option value="0">固定值</option>
                  <option value="1">每日工资的百分之</option>
                  <option value="2">天数 * 每日工资的百分之</option>
                </select>
                <input type="number" name="salary_rule" value="0" class="number" min="0"/>
                <input type="hidden" name="todo" value="true"/>
                <input type="hidden" name="act" value="edit"/>
                <input type="hidden" name="type_id" value="0"/>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" 
          data-dismiss="modal">关闭
        </button>
        <input type="submit" class="btn btn-primary" form="editForm"  value="提交更改">
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal -->
{$footer}
