{$header}
{$nav}
<div class="pd12px wd750">
  <form action="{$url}/addOtRecord" method="POST" class="table-form bigform">
    <table>
      <caption class="title">加班登记</caption>
      <tr>
        <td>
          <select name="role_id">
            <option value="0">选择部门</option>
            {foreach from=$role_list item=v}
            <option value="{$v.role_id}">{$v.role_name}</option>
            {/foreach}
          </select>
        </td>
        <td>
          <select name="staff_id">
            <option value="0">员工名</option>
            {foreach from=$staff_list key=k item=v}
            <option value="{$k}">{$v}</option>
            {/foreach}
          </select>
        </td>
        <th>开始时间</th>
        <td>
          <input type="text" name="start_time" value=""
          {literal}onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})"{/literal} required/>
        </td>
        <th> 加班时长（小时）</th>
        <td>
          <input type="text" name="date" value="" required class="ac"/>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <textarea name="reason" placeholder="加班原因" required></textarea>
        </td>
      </tr>
    </table>
    <div class="ar wd750" style="padding-top:3px;">
      <button type="submit" class="btn btn-primary">提 交</button>
    </div>
  </form>
  <div>
    <div class="line-title">加班记录列表</div>
    <form action="{$url}/checkinginOt" method="POST"> 
      <table width="100%" class="tool-bar">
        <td>
          <select name="role_id">
            <option value="0">选择部门</option>
            {foreach from=$role_list item=v}
            <option value="{$v.role_id}">{$v.role_name}</option>
            {/foreach}
          </select>
        </td>
        <td><input type="text" name="staff_name" placeholder="员工姓名"/> </td>
        <td> <input type="text" name="start_time" value="" placeholder="起始"
          {literal}onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"{/literal}/> </td>
        <td> <input type="text" name="end_time" value="" placeholder="结束"
          {literal}onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"{/literal}/> </td>
        <td>
          <select name="status">
            <option value="0">进度选择</option>
            {foreach from=$status key=k item=v}
            <option value="{$k}">{$v}</option>
            {/foreach}
          </select>
        </td>
        <td>
          <input type="submit" value="搜索"/>
        </td>
      </table>
    </form>
    <table class="gridtable" style="margin-top:4px;">
      <tr>
        <th>序号</th>
        <th>部门</th>
        <th>员工</th>
        <th>开始时间</th>
        <th>加班工时</th>
        <th>原因</th>
        <th>审核进度</th>
        <th>操作</th>
      </tr>
      {if $otList}
      {foreach from=$otList item=v name=i}
      <td>{$smarty.foreach.i.iteration}</td>
      <td>{$v.role_name}</td>
      <td>{$v.staff_name}</td>
      <td>{$v.start_time}</td>
      <td>{$v.date}</td>
      <td>{$v.reason}</td>
      <td>{$v.status}</td>
      <td>
        <input type="button" class="btn-link" value="修改"/>
        <input type="button" class="btn-link" value="删除"/>
      </td>
      {/foreach}
      {else}
      <tr> <td colspan="8">没有加班记录</td> </tr>
      {/if}
    </table>
  </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
          data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel"> 修改加班登记 </h4>
      </div>
      <div class="modal-body">
        <form action="{$url}/editOt" method="POST">
          <table>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" 
          data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary"> 提交更改 </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>
{$footer}
