{$header}
{$nav}
<!--标签切换-->
<div id="resource" class="wd750 pd12px">
  <div class="bootstrap-table-title">{$title} 
    <input type="hidden" name="url" value="{$formUrl}"/>
    <button class="btn btn-link" data-toggle="modal" data-target="#myModal"> 登记迟到 </button>
    <div class="alert alert-warning json-alert" style="display:">
      <a href="#" class="close" data-dismiss="alert"> &times; </a>
      <strong>警告！</strong>您的网络连接有问题。
    </div>
  </div>
  <table data-toggle="table" data-url="{$dataUrl}" data-search="true" data-height="699" data-show-refresh="true" data-show-toggle="true" data-pagination="true">
    <thead>
      <tr>
        <th data-field="staff_name">申请人</th>
        <th data-field="type_name">类型</th>
        <th data-field="from_to">起止时间</th>
        <th data-field="date">时长</th>
        <th data-field="reason">原因</th>
        <th data-field="checker">审批人</th>
        <th data-field="action">操作</th>
      </tr>
    </thead>
  </table>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
          data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">迟到登记</h4>
      </div>
      <div class="modal-body">
        <form id="form" name="form" action="{$url}/lateRecord" method="POST">
          <table class="form single" style="width:100%">
            <tr>
              <th>员工姓名</th>
              <td>
                <select name="staff_id" style="width:123px;">
                  <option value="0">姓名</option>
                  {foreach from=$staff_list key=k item=v}
                  <option value="{$k}">{$v}</option>
                  {/foreach}
                </select> <b class="red">*</b>
              </td>
              <th>日期</th>
              <td>
                <input type="text" name="start_time" required
                {literal}onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})"{/literal}/>
              </td>
            </tr>
            <tr>
              <th>迟到时长</th>
              <td style="width: 7%;">
                <input type="number" name="date" required />
              </td>
              <td style="padding-left:12px;">
                <label><input type="radio" name="date_type" value="2" checked/> 分</label>
                <label><input type="radio" name="date_type" value="1"/> 时</label>
              </td>
              <td></td>
            </tr>
            <tr>
              <th>原因</th>
              <td colspan="3">
                <textarea name="reason" style="width:449px;" required></textarea>
              </td>
            </tr>
          </table>
          <input type="hidden" name="behave" value="add"/>
          <input type="hidden" name="check_id" value="0"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <input type="submit" class="btn btn-primary" form='form' value="提交"/>
      </div>
    </div>
  </div>
</div>
{$footer}
<script language="javascript" type="text/javascript">
  $(function () { $('#myModal').on('hide.bs.modal', function () {
        document.forms['form'].reset();
        document.forms['form'].elements['staff_id'].options[0].selected = true;
        $("#myModalLabel").html('迟到登记');
        })
      }); 
</script>

