{$header}
{$nav}
<div class="wd750 pd12px">
  <input type="hidden" id="url" value="{$url}"/>
  <form action="{$url}/addLieu" method="POST" onsubmit="return checking(this)">
    <table class="form single" style="margin-bottom:12px;">
      <caption>添加调休</caption>
      <tr>
        <th>调休人</th>
        <td>
        <select name="staff_id" required='required'>
          {foreach from=$staff_list key=k item=v}
          <option value="{$k}">{$v}</option>
          {/foreach}
        </select><font class="red">*</font>
        </td>
      </tr>
      <tr>
        <th>类型</th>
        <td>
          <select name="type_id">
            {foreach from=$type_list key=k item=v}
            <option value="{$k}">{$v}</option>
            {/foreach}
          </select>
        </td>
      </tr>
      <tr>
      	<th>开始时间</th>
        <td><input type="text" name="start_time" value=""
          {literal}onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"{/literal}/></td>
      </tr>
      <tr>
      	<th>结束时间</th>
        <td><input type="text" name="end_time" value=""
          {literal}onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"{/literal}/></td>
      </tr>
      <tr>
      	<th>调休原因</th>
        <td>
          <textarea name="reason" style="width:630px;height:48px;padding:3px;"></textarea>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" class='btn btn-primary' value="保存"/>
        </td>
      </tr>
    </table>
  </form> 
  <div class="line-title">调休记录</div>
  <form action="{$url}/checkinginOt" method="POST"> 
    <table width="100%" class="tool-bar">
      <td>
        <select name="role_id">
          <option value="0">选择部门</option>
          {foreach from=$role_list item=v}
          <option value="{$v.role_id}">{$v.role_name}</option>
          {/foreach}
        </select>
      </td>
      <td><input type="text" name="staff_name" placeholder="员工姓名"/> </td>
      <td> <input type="text" name="start_time" value="" placeholder="起始"
        {literal}onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"{/literal}/> </td>
      <td> <input type="text" name="end_time" value="" placeholder="结束"
        {literal}onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"{/literal}/> </td>
      <td>
        <select name="status">
          <option value="0">进度选择</option>
          {foreach from=$status key=k item=v}
          <option value="{$k}">{$v}</option>
          {/foreach}
        </select>
      </td>
      <td>
        <input type="submit" value="搜索"/>
      </td>
    </table>
  </form>
  <div id="resource">
    <table class="gridtable" style="margin-top:4px;">
      <tr>
        <th>调休人</th>
        <th>填写人</th>
        <th>状态</th>
        <th>调休类型</th>
        <th>调休时间</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
      {foreach from=$lieu_list item=v}
      <tr>
        <td>{$v.staff_name}</td>
        <td>{$v.admin_name}</td>
        <td>{$v.status}</td>
        <td>{$v.type_name}</td>
        <td>{$v.start_time}至{$v.end_time}</td>
        <td>{$v.add_time}</td>
        <td>
          <button class="btn-link" data-toggle="modal" data-target="#myModal"
          onclick="editLieu({$v.check_id},'edit')"
            >修改</button>
          <button class="btn-link">删除</button>
        </td>
      </tr>
      {/foreach}
    </table>
  </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
          data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel"> 修改调休记录</h4>
      </div>
      <div class="modal-body">
        <form action="{$url}/editLieu" method="POST" id="editForm">
          <table class="form single" style="width:100%" >
            <tr>
              <th>调休人</th>
              <td>
                <select name="staff_id">
                  <option value="0">员工</option>
                  {foreach from=$staff_list key=k item=v}
                  <option value="{$k}">{$v}</option>
                  {/foreach}
                </select>
              </td>
            </tr>
            <tr>
              <th>类型</th>
              <td>
                <select name="type_id">
                  {foreach from=$type_list key=k item=v}
                  <option value="{$k}">{$v}</option>
                  {/foreach}
                </select>
              </td>
            </tr>
            <tr>
              <th>开始时间</th>
              <td><input type="text" name="start_time" value=""
                {literal}onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"{/literal}/></td>
            </tr>
            <tr>
              <th>结束时间</th>
              <td><input type="text" name="end_time" value=""
                {literal}onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"{/literal}/></td>
            </tr>
            <tr>
              <th>调休原因</th>
              <td>
                <textarea name="reason" style="width:430px;height:48px;padding:3px;"></textarea>
              </td>
            </tr>
          </table>
          <input type="hidden" name="behave" value="save"/>
          <input type="hidden" name="check_id" value="0"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" 
          data-dismiss="modal">关闭
        </button>
        <input type="submit" class="btn btn-primary" form="editForm"  value="提交更改">
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal -->
{$footer}
