{$header}
{$nav}
<!--标签切换-->
<div id="resource" class="wd750 pd12px">
  <div class="bootstrap-table-title">{$title} </div>
  <table data-toggle="table" data-url="{$dataUrl}" data-search="true" data-height="699" data-show-refresh="true" data-show-toggle="true" data-pagination="true">
    <thead>
      <tr>
        <th data-field="staff_name">申请人</th>
        <th data-field="type_name">类型</th>
        <th data-field="from_to">起止时间</th>
        <th data-field="date">时长</th>
        <th data-field="reason">原因</th>
        <th data-field="checker">审批人</th>
        <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">
          操作</th>
      </tr>
    </thead>
  </table>
</div>
{$footer}
<script>
  function operateFormatter(value, row, index) {
    return [
    '<a class="edit ml10" href="/thinkphp/index.php/home/checkingin/editVacate/check_id/'
      +row.check_id+'" title="修改">',
      '<i class="glyphicon glyphicon-edit"></i>',
      '</a>',
    '&nbsp;&nbsp;<a class="remove ml10" href="javascript:void(0)" title="删除">',
                '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }
</script>
