<br/>
<div class="finder-title">会员列表
  <font id=record_count>(共{$count}条)</font>
</div>
<div class="wd750">
  <div>
    <div class="box_nav">
      <div class="detail_tab" style="margin:0">
        <ul>
          {foreach from=$rank_list item=val name=i}
          <li type="{$rank_id}" {if $rank_id eq $val.rank_id}class="o_select"{/if}>
          <span><a href="{$url}/rank_id/{$val.rank_id}">{$val.rank_name}</a></span>
          </li>
          {/foreach}
        </ul>
      </div>
    </div>
  </div>
  <div class="list_panel" style="margin-bottom:0px;">
    <form name="vips_form" action="javascript:void(0);" onsubmit="schRankVips(this)">
      <select name="item">
        <option value="2">姓名</option>
        <option value="1">卡号</option>
      </select>
      <input type="text" ="" name="keyword" />
      <select name="platform" id="role_list"  onchange="getGroupList(this)">
        <option value="0">请选择平台</option>
        {foreach from=$role_list item=val}
        <option value="{$val.role_id}">{$val.role_name}</option>
        {/foreach}
      </select>
      <select name="group_id" id="group_id" style="width:98px;">
        <option value="0">请选择团队</option> 
      </select>
      积分<input type="number" class="wd64" name="min_points" min="0" step="50"/>-
      <input type="number" class="wd64" name="max_points" min="0" step="50"/>
      <input type="submit" value="搜 索" class="b_submit" />
    </form>
  </div>
  <div class="user_list_info" id="resource">
    {$vipSearch}
  </div>
</div>
