<table width="100%" cellspacing="0" cellpadding="0" class="wu_table_list rb_border wu_rb_border tr_hover" id="vip_list">
  <tr>
    <th width="8%">姓名</th>
    <th width="10%">生日</th>
    <th width="10%" class="a_sort"><a href="">会员卡ID</a></th>
    <th width="8%" class="a_sort"><a href="">积分</a></th>
    {if $section eq 'by_rank'}
    <th width="10%" class="a_sort"><a href="">升级需积分</a></th>
    {/if}
    <th width="15%" class="a_sort"><a href="">最近购买</a></th>
    <th width="10%" class="a_sort"><a href="">成功订单数</a></th>
    <th width="10%" class="a_sort"><a href="">消费总额</a></th>
  </tr>
  {if $user_list}
  {foreach from=$user_list item=val name=i}
  <tr>
    <td>{$val.user_name}</td>
    <td>{$val.birthday}</td>
    <td>{if $val.card_number}{$val.card_number}{else}-{/if}</td>
    <td>{$val.rank_points}</td>
    {if $section eq 'by_rank'}
    <td>{$val.up_rank_id}</td>
    {/if}
    <td>{$val.earliest_pur}</td>
    <td>{if $val.total eq ''|| $val.total lt 0}0{else}{$val.total}{/if}</td>
    <td>{if $val.final_amount eq ''|| $val.final_amount lt 0}0{else}{$val.final_amount}{/if}</td>
  </tr>
  {/foreach}
  {else}
  <tr>
    <td colspan="7">没有搜到相关会员</td>
  </tr>
  {/if}
</table>
<div class="bottom_tip page" id="pageDiv">
  {$page}
</div>
<input type="hidden" id="rank_id" value="{$rank_id}"/>
