{$header}
<div {if $staffListUrl}style="padding-left:15%"{/if}>
  <div class="wd750">
    <br />
    <div class="finder-title">员工列表
      <font id="record_count">(共{$total}条)</font>
      <label class="fright"><a class="btn" target="_blank" href="{$registerUrl}">录入新员工入职档案</a></label>
    </div>
    <div class="list_panel">
      <form {if !$staffListUrl}action="javascript:void(0)" onsubmit="searchStaff(this)"{else}action="{$staffListUrl}"{/if} method="POST" >
        姓名<input type="text" name="staff_name" value=""/>
        部门<select name="role_id">
          <option value="0">请选择</option>
          {foreach from=$role_list item=val}
          <option value="{$val.role_id}">{$val.role_name}</option>
          {/foreach}
        </select>
        分类<select name="category">
          <option value="0">性别</option>
          <option value="0">学校</option>
        </select>
        <select name="item" id="item">
          <option value="0">请选择</option>
        </select>
        <input type="submit" class="b_submit" value="搜索">
      </form>
    </div>
    <div id="resource">{$search_staff}</div>
  </div>
</div>
{$footer}
